* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.menu-container {
    color: darkslategrey;
    background-color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  
.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
  }

.logo {
    max-height: auto;
    max-width: 100px;
  }
  
.recipes {
    font-size: 20px;
    margin: auto 0;
  }

.title {
    font-size: 50px;
    margin-right: auto;
    margin-left: 20px;
    padding: 25px 0;
  }